.container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100wh;
}
.wrapper {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  flex: 1;
  display: flex;
  align-items: center;
}
.left span {
  font-size: 14px;
  cursor: pointer;
}
.searchContainer {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}
.searchContainer i {
  color: grey;
  font-size: 16px;
}
.search-bar {
  border: none;
}
.center {
  flex: 1;
  text-align: center;
}
.center h1 {
  font-weight: bold;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menuItems {
  margin-right: 25px;
}
.nav-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.cart {
    position: relative;
}
.cart::before {
  content: attr(quantity);
  position: absolute;
  left: 10px;
  bottom: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #3d4fcc;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

@media screen and (max-width: 380px) {
  .container {
    height: 50px;
    width: 100wh;
  }
  .wrapper {
    padding: 10px 0;
  }
  .left span {
    display: none;
  }
  .searchContainer {
    margin: 0 5px;
  }
  .searchContainer i {
    font-size: 10px;
  }
  .search-bar {
    width: 60px;
  }
  .center h1 {
    font-size: 24px;
  }
  .right {
    justify-content: space-between;
    flex: 2;
    overflow: hidden;
  }
  .menuItems {
    font-size: 12px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    height: 50px;
    width: 100wh;
  }
  .wrapper {
    padding: 10px 10px;
  }
  .left span {
    display: none;
  }
  .searchContainer {
    margin: 0 5px;
  }
  .searchContainer i {
    font-size: 10px;
  }
  .search-bar {
    width: 60px;
  }
  .center h1 {
    font-size: 30px;
  }
  .right {
    flex: 2;
    overflow: hidden;
  }
  .menuItems {
    font-size: 14px;
    margin-left: 3px;
  }
}
